body {
    padding: 0;
    margin: 0;
    text-align: center;
    background-image: url("images/Calculator-background.jpg");
    background-size: cover;
}

.calculator {
    width: 500px;
    padding: 0;
    margin: 0 auto;
    border: 3px solid black;
    background-color: rgba(110, 70, 20, 0.3);
}

.display {
    position: relative;
    width: 100%;
    background-color: rgb(255, 0, 0);
    z-index: inherit 5;
    border: 1px solid;
    box-shadow: 5px 10px rgb(255, 0, 0, 0.3);
    grid-area: 1/1/span 2/span 4;
}

.keys {
    position: relative;
    display: grid;
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: repeat(7, 100px);
    justify-content: space-around;
    align-content: space-around;
    row-gap: 15px;
}

.keys span {
    position: relative;
    background-color: rgb(0, 0, 255);
    z-index: inherit 3;
    box-shadow: 5px 5px rgba(0, 0, 255, 0.3);
}